body{
    background-color: rgb(243, 240, 240);
    height: 100%;
}

nav{
    display: flex;
    flex-direction: row;
}

.side-nav{
    background-image:  url(../images/folk-pattern-black.png);
    width: 18%;
    height: 100%;
    border-radius:0px 40px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.home-page-nav{
    color: #ffffff;
    padding-top: 60px;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    
}

.blogs-page-nav{
    color: #ffffff;
    padding-top: 30px;
}

.home-button{
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px #F10404);
    background-color: black;
    color: #ffffff;
    width: 120px;
    height: 40px;
    font-size: 30px;    
    margin-top: 30px;
}

.top-nav{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.notification-home{
    position: absolute;
    left: 100px;
}

.home-nav{
    display: flex;
    flex-direction: row;

}

.signout-nav{
    color: #ffffff;
    position: absolute;
    top: 90%;
    font-size: 30px;
    cursor: pointer;
    left: 30%;
    text-decoration: none;
}

.profile-pic{
    margin-left: 80%;
    height: 50px;
    margin-top: 15px;

}

h2{
    margin-left: 5%;
    font-size: 12px;
    margin-top: 25px;
}

p {
    margin-left: 5%;
    font-size: 12px;
    margin-top: 0px;
}

.dashboard-body{
    position: absolute;
    left: 25%;
    top: 10%;
    width: 60%;
    /* display: flex;
    flex-direction: column; */
}

#dashboard-blog-form{
    margin-left: 600px;
    border: solid;
    background: #626060;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.dashboard-blog-form-title{
    color: #000000;
    font-size: 25px;
    width: 250px;
    font-family: 'Michroma';
    margin-left: 100px;
    padding-top: 10px;
    /* border: solid red; */
}
#authorInput{
    background: rgb(255, 255, 255);
    font-family: 'Michroma';
    padding-left: 5px;
    margin-left: 25px;
    width: 300px;
    margin-top: 25px;
    border-radius: 7px;

}
#blogId{
    height: 32px;
    color: #000000;
    background: rgb(255, 255, 255);
    font-family: 'Michroma';
    padding-left: 5px;
    margin-left: 25px;
    width: 300px;
    margin-top: 25px;
    border-radius: 7px;
}
.image-1 {
    margin-top: 10px;
    float: right;
    display: contents;
  }
.dashboard-form-author-input{
    height: 40px;
    width: 300px;
    margin-top: 25px;
    color: #000000;
}
.dashboard-form-title-input{
    height: 40px;
    color: #000000;
    background: rgb(255, 255, 255);
    font-family: 'Michroma';
    padding-left: 5px;
    margin-left: 25px;
    width: 300px;
    margin-top: 25px;
    border-radius: 7px;
    /* border: solid rgba(72, 70, 70, 0.212); */
}
.dashboard-form-body-input{
    background: rgb(255, 255, 255);
    font-family: 'Michroma';
    padding-left: 5px;
    margin-left: 25px;
    width: 300px;
    height: 150px;
    margin-top: 25px;
    border-radius: 7px;
    /* border: solid rgba(72, 70, 70, 0.212); */
    color: #000000;
}
#dashboard-blog-form-save-button{
    height: 30px;
    width: 300px;
    margin-left: 25px;
    font-family: 'Poppins';
    color: #ffffff;
    background: rgba(0, 0, 0);
    margin-top: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#dashboard-blog-form-save-button:hover{
    background-color: rgb(76, 75, 75);
}

.blog-table-header{
    border: solid rgb(0, 0, 0);
    height: 33px;
    background-color: #868484;
}

#blogs-table-header1{
    color: #181818;
    font-family: 'Michroma';
    border: solid grey;
    width: 50px;
    height: 28px;
    margin-left: 10px;
}

#blogs-table-header2{
    margin-left: 10px;
    color: #181818;
    font-family: 'Michroma';
    border: solid rgb(0, 0, 0);
    width: 350px;
    height: 28px;
}

#blogs-table-header3{
    margin-left: 10px;
    color: #181818;
    font-family: 'Michroma';
    border: solid #000000;
    width: 200px;
    height: 28px;
}

#blogs-table-header4{
    margin-left: 10px;
    color: #181818;
    font-family: 'Michroma';
    border: solid #000000;
    width: 200px;
    height: 28px;
    text-align: center;
}
.blogs-t-body{
    color: #050505;
    font-size: 13px;
}
table{
    width: 80%;
    margin-left: 300px;
}
table.list{
    text-align: center;
    /* width: 100%; */
}
td{
    border: solid rgb(33, 33, 33);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgba(18, 17, 17, 0.469);
}

                        /* Form Validation CSS */
.form-control .error{
    color: #ff3860;
    margin-left: 27px;
}
.form-control input:focus{
    outline: 0;
}
.form-control.success input{
    border-color: #09c372;
}
.form-control.error input{
    border-color: #ff3860;
}
.form-control .error{
    border-color: #ff3860;
    font-size: 9px;
    height: 3px;
}

