body{
    /* position: absolute; */
    margin: auto;
    height: 100vh;
    background-image: url(../images/folk-pattern-black.png);
    background-size: 50%;
}
.nav-bar{
    background: rgba(0, 0, 0, 1);
    width: 100%;
    color: #fff;
    filter: drop-shadow(0px 4px 4px #FFFFFF);
    display: flex;
    margin-bottom: 10px;
}
/* .home-nav .about-me-nav .skills-nav .portfolio-nav .contact-me-nav .blogs-nav{
    border: solid blue; 
} */
.logo-nav{
    background-color: white;
    border-radius: 50%;
    height: 5px;
    width: 50px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 7px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
    color: black;
    transition:0.5s;
} 

.logo-nav:hover{
    transform: scale(1.5);
}
.home-nav{
    height: 30px;
    margin-left: 300px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}
.home-nav:hover{
    transform: scale(1.5);
}
 
.about-me-nav{
    height: 60px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}

.about-me-nav:hover{
    transform: scale(1.5);
}

.skills-nav{
    height: 30px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}

.skills-nav:hover{
    transform: scale(1.5);
}

.portfolio-nav{
    height: 30px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}

.portfolio-nav:hover{
    transform: scale(1.5);
}

.contact-me-nav{
    height: 30px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}
.contact-me-nav:hover{
    transform: scale(1.5);
}

.blogs-nav{
    height: 30px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}

.blogs-nav:hover{
    transform: scale(1.5);
}

.login-button-nav{
    border-radius: 20px;
    background-color: black;
   font-family: impact, sans-serif;
   height: 40px;
   width: 120px;    
   margin-left: 230px;
   margin-top: 15px;
   font-size: 25px;
   color: #FFF;
   text-align: center;
   filter: drop-shadow(0px 4px 4px #FFFFFF);
   cursor: pointer;
   transition: 0.5s;
}

.login-button-nav:hover{
    transform: scale(1.5);
}
.Login-text{
    color: #fafafa;
    text-decoration: none;
}

.signup-title{
    color:#FFF;
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    color: #fafafa;
}

.admin-container{
    align-items: center;
}

.signup-form {
    background-color: rgb(106, 106, 106);
    width: 540px;
    height:500px;
    justify-content: center;
    border-radius: 50px;
    margin-left: 510px;
    align-items: center;
  }

.input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username{
    font-size: 20px;
    padding-bottom: 10px; 
    font-weight: bolder;
    font-family: Arial; 
    color:#181717;
}

.user-email{
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px; 
    font-weight: bolder;
    font-family: Arial;
    color:#181717;
}

.user-password{
    font-size: 20px;
    padding-bottom: 8px; 
    font-weight: bolder;
    padding-top: 10px;
    font-family: Arial;
    color:#181717;
}

.user-password2{
    font-size: 20px;
    padding-bottom: 10px; 
    font-weight: bolder;
    padding-top: 8px;
    font-family: Arial;
    color:#181717;
}

::placeholder{
    font-size: 15px;
    font-family: 'poppins', sans serif;
}

span{
    position: fixed;
    top: 73%;
    right: 43%;
    cursor: pointer;
    color: #181717;
}

#eye1{
    position: absolute;
    top: 63%;
    right: 43%;
    cursor: pointer;
    color: #181717;
}

.error{
    color: rgb(136, 4, 4);
    text-align: center;
}

.textfield{
    border-radius: 20px;
    height: 30px;
    width: 220px;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'poppins', sans serif;
}

.sign-up-btn{
    border-radius: 20px;
    height: 30px;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px #FFFFFF);
    margin-bottom: 40px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 195px;
}

.copyright{
    text-align: center;
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    background-color: black;
    height: 27px;
    margin-top: 20px;
    height: 27px;
}