body{
    /* position: absolute; */
    margin: auto;
    height: 100%;
    width: 100%;
    background: url(./images/folk-pattern-black.png);
    background-size: 50%;
}
.nav-bar{
    background: rgba(0, 0, 0, 1);
    width: 100%;
    color: #fff;
    filter: drop-shadow(0px 4px 4px #FFFFFF);
    display: flex;
    margin-bottom: 31px;
}
/* .home-nav .about-me-nav .skills-nav .portfolio-nav .contact-me-nav .blogs-nav{
    border: solid blue; 
} */
.logo-nav{
    background-color: white;
    border-radius: 50%;
    height: 5px;
    width: 50px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 7px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
    color: black;
    transition:0.5s;
} 

.logo-nav:hover{
    transform: scale(1.5);
}
.home-nav{
    height: 30px;
    margin-left: 300px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}
.home-nav:hover{
    transform: scale(1.5);
}
 
.about-me-nav{
    height: 60px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}

.about-me-nav:hover{
    transform: scale(1.5);
}

.skills-nav{
    height: 30px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}

.skills-nav:hover{
    transform: scale(1.5);
}

.portfolio-nav{
    height: 30px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}

.portfolio-nav:hover{
    transform: scale(1.5);
}

.contact-me-nav{
    height: 30px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}
.contact-me-nav:hover{
    transform: scale(1.5);
}

.blogs-nav{
    height: 30px;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 25px;
    font-family: impact, sans-serif;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
}

.blogs-nav:hover{
    transform: scale(1.5);
}

.login-button-nav{
    border-radius: 20px;
    background-color: black;
   font-family: impact, sans-serif;
   height: 40px;
   width: 120px;    
   margin-left: 230px;
   margin-top: 15px;
   font-size: 25px;
   color: #FFF;
   text-align: center;
   filter: drop-shadow(0px 4px 4px #FFFFFF);
   cursor: pointer;
   transition: 0.5s;
}

.login-button-nav:hover{
    transform: scale(1.5);
}
.Login-text{
    color: #fafafa;
    text-decoration: none;
}

.skills-title{
    color:#FFF;
    text-align: center;
    font-size: 50px;
}
.skills-file{
display: flex;

}

.img-vector{
    margin-top: 50px;
    margin-left: 220px;
    transition: 0.5s;
}

.img-vector:hover{
    transform: scale(1.2);
}

.skills{
    margin-top: 50px;
    margin-left: 70px;
   
}
 
.front-skill{
    transition: 0.5s;
}

.front-skill:hover{
    transform: scale(1.2);
}

.middle-skills{
    padding-top: 40px;
    transition: 0.5s;
}

.middle-skills:hover{
    transform: scale(1.2);
}

.last-skills{
    padding-top: 40px;
    transition: 0.5s;
}

.last-skills:hover{
    transform: scale(1.2);
}

.social-icons{
    margin-left: 600px;
    margin-top: 88px;
    align-items: center;
}
.instagram-icon{
    height: 40px;
    width: 40px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.instagram-icon:hover{
    transform: scale(1.2);
}


.linkedin-icon{
    margin-left: 15px;
    margin-bottom: 8px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    transition: 0.5s;
}

.linkedin-icon:hover{
    transform: scale(1.2);
}


.Gmail-icon{
    margin-left: 15px;
    margin-bottom: 1px;
    height: 54px;
    width: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.Gmail-icon:hover{
    transform: scale(1.2);
}


.github-icon{
    margin-left: 15px;
    margin-bottom: 7px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.github-icon:hover{
    transform: scale(1.2);
}


.copyright{
    text-align: center;
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    background-color: black;
    height: 27px;
    margin-top: 4px;
}